# Server
PORT=3011
NODE_ENV=development

# Database
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/?appName=<AppName>

# JWT
JWT_SECRET=
JWT_REFRESH_SECRET=

# Cloudinary (luu tru audio/image)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# AI Server
AI_SERVER_URL=http://localhost:5000
